* {
  color: #0f1419;
}

section.banner {
  min-height: 85.3vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

section.banner.\31 {
  background: url("../images/low_poly_mountain_2-wallpaper-1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

section.banner.\32 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

h1.title {
  color: black;
  font-size: 64px;
  line-height: 90px;
  padding-bottom: 35px;
  font-weight: bold;
}

strong.slogan {
  font-size: 40px;
  line-height: 50px;
  color: black;
  padding-bottom: 10px;
  display: block;
}

p.description {
  color: black;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 60px;
  max-width: 600px;
  display: inline-block;
  text-align: center;
}

a.infoBox {
  font-size: 17px;
  color: black;
  -webkit-text-stroke: 1px Black;
  padding: 13px 0px;
  width: 100%;
  max-width: 190px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  transition: ease-in all 0.5s;
}

a.infoBox:hover {
  border-radius: 5px;
}

.text {
  text-align: center;
}

.driver-instruction-container{
  font-size: 24px;
  text-decoration: underline;
  margin-top: 50px;
  margin-bottom: 20px;
}

.home-vehicle-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 3px solid #2E3675;
  border-radius: 25px;
  width: 1000px;
  margin-left: 250px;
  margin-top: 60px;
}

.vehicle-container {
  width: 1300px;
  min-height: 55px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;

}

.pick-vehicle-button{
  margin-bottom: 30px !important;
  margin-top: 10px;
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.pick-vehicle-button:hover{
  color: black;
}

.licensePlate-container {
  width: 200px;
  margin-left: 80px;
  line-height: 55px;
  text-align: center;
}

.vin-container {
  margin-left: 50px;
  width: 200px;
  line-height: 55px;
  text-align: left;
}

.brand-container {
  margin-left: 50px;
  width: 200px;
  line-height: 55px;
  vertical-align: middle;
  text-align: left;
}

.model-container {
  width: 200px;
  margin-left: 50px;
  line-height: 55px;
  text-align: left;
}

.select-vehicle-button {
  margin-left: 50px;
  margin-top: 7px;
  width: 110px;
  height: 40px;
}

.select-vehicle-button:hover{
  color: black !important;
}