@media (min-width: 800px) {
  .leaflet-container {
    height: 70vh;
    width: 70vw;
    min-width: 800px;
    display: inline-flex;
  }
}

@media (max-width: 800px) {
  .leaflet-container {
    height: 84vh;
    width: 100vw;
    display: inline-flex;
  }
}
