
.Navbar {
    filter: drop-shadow(10px 20px 20px #2d3574);
}

.nav-link{
    font-size: 25px;
    color: white !important;
}

.mr-auto{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: -3%;
    text-align: center;
}

img {
    border-radius: 50%;
    margin-inline: 10px;
}

.color-nav {
    --bs-bg-opacity: 1;
    background-color: #2d3574;
}
